<html>

<head>
    <title></title>
</head>

<body>
    <div class="well">
        <canvas id="stage"></canvas>
    </div>
    <p>
        <input id="seek" type="range" style="width:100%" value="0" min="0" max="2000" step="1" />
    </p>
    <p>
        <button id="play">play animation</button>
        <button id="reverse">reverse animation</button>
        <button id="pause">pause animation</button>
    </p>
    <script src="/lib/pixi.js"></script>
    <script src="/demo/scripts/require.js"></script>
    <script src="/lib/pixi-shape.js"></script>
    <script id="js-try"></script>
</body>

</html>
