<h1>PIXI Shape</h1>
<p class="lead">
    An extension of <a target="_blank" href="https://github.com/GoodBoyDigital/pixi.js">pixi.js</a> -
    <em>a super fast HTML 5 2D rendering engine that uses webGL with canvas fallback</em>
</p>
<p class="lead">
    With "PIXI Shape" you can easily create any shapes, like circle, rectangle, star or svg path, and move, resize, change color or animate the shape.
</p>
<div class="showcase">
    <canvas id="stage"></canvas>
    <div id="meter"></div>
</div>
<hr />
<h2>Show cases</h2>
<div class="row">
    <div class="col-sm-3">
        <a target="black" href="https://chrome.google.com/webstore/detail/link-all/bbplhdcnpcenkdciibplnkgmiffjfnni">
            <img title="Link All" class="thumbnail" src="https://lh5.googleusercontent.com/vp-LANW7ZfUbwOSq5bVDmfgzQRdudH8CbaRmUA6o_7UKMwbsrdeD_A267bLbBxpmml48-xWdkA=s220-h140-e365" />
        </a>
    </div>
    <div class="col-sm-3">
        <a target="black" href="https://chrome.google.com/webstore/detail/mutual/okjiffbojjamcpfghohbgmacbjjgmndi">
            <img title="Mutual" class="thumbnail" src="https://lh3.googleusercontent.com/QQCGq3KIIAldfnEl-MwPlPXHElu9ZxzaN7lSwiI6tjGqf9dxLvvRosLJV4ArgQzpGpqL_CqG=s220-h140-e365" />
        </a>
    </div>
</div>
