body {
    padding-top: 60px;
}

.showcase {
    position: relative;

    #meter {
        position: absolute;
        margin: auto;
        width: 600px;
        top: 0;
    }
}

.CodeMirror {
    background: none;
    height: auto;
}

#try {
    height: 410px;
    width: 610px;
    border: none;
}
